<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Waste_registration.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
    </startup>
    <userSettings>
        <Waste_registration.Properties.Settings>
            <setting name="Aktualnyuzivatel" serializeAs="String">
                <value/>
            </setting>
            <setting name="Aktualnyprojekt" serializeAs="String">
                <value/>
            </setting>
            <setting name="AdresaOverenie" serializeAs="String">
                <value/>
            </setting>
            <setting name="AktualneOddelenie" serializeAs="String">
                <value/>
            </setting>
            <setting name="AktualnaZmena" serializeAs="String">
                <value/>
            </setting>
            <setting name="vinnik" serializeAs="String">
                <value/>
            </setting>
            <setting name="AktualnyVyrobok" serializeAs="String">
                <value/>
            </setting>
            <setting name="AktualnyMaterial" serializeAs="String">
                <value/>
            </setting>
            <setting name="KodChyby" serializeAs="String">
                <value/>
            </setting>
            <setting name="PopisChyby" serializeAs="String">
                <value/>
            </setting>
            <setting name="VyhladavanaStanica" serializeAs="String">
                <value/>
            </setting>
            <setting name="StatusDuplicity" serializeAs="String">
                <value/>
            </setting>
            <setting name="StatusAdresa" serializeAs="String">
                <value/>
            </setting>
            <setting name="IndexVyberuStanica" serializeAs="String">
                <value>0</value>
            </setting>
        </Waste_registration.Properties.Settings>
    </userSettings>
</configuration>
